@import url(https://fonts.googleapis.com/css2?family=Jua&display=swap); /* Jua font*/
@import url(https://fonts.cdnfonts.com/css/asciid); /* Ascii font*/

:root {
    --font: 'Jua';
    letter-spacing: 0.05ch;
    font-weight: 300;
    --label-font-weight: 500;

    --corner-text: 'Megasoft'

    --pad: 16px;
    --txt-pad: 10px;
}